.notification {
      margin-bottom: 12px;
      border-left: 4px solid #3f51b5;
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 1rem;
    }