<header class="navbar">
  <div class="logo">Portfolio Jorge L. DI</div>

  <button class="hamburger" [class.active]="menuOpen" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav [class.open]="menuOpen">
    <ul>
      <li>
        <a routerLink="/home" (click)="toggleMenu()">
          <img src="assets/icons/home.svg" alt="Home" class="icon" />
          Home</a
        >
      </li>
      <li>
        <a routerLink="/about" (click)="toggleMenu()">
          <img src="assets/icons/about.svg" alt="About" class="icon" />
          About</a
        >
      </li>
      <li>
        <a routerLink="/projects" (click)="toggleMenu()">
          <img src="assets/icons/projects.svg" alt="Projects" class="icon" />
          Projects</a
        >
      </li>
      <li>
        <a routerLink="/anime" (click)="toggleMenu()">
          <img src="assets/icons/anime.svg" alt="Anime" class="icon" />
          Anime
        </a>
      </li>
      <li>
        <a routerLink="/contact" (click)="toggleMenu()">
          <img src="assets/icons/github.svg" alt="Contact" class="icon" />
          Contact</a
        >
      </li>
      <!-- Comentario EXAMEN en HTML
        Utilizamos un *ngIf si la variable userName existe o lo que es lo mismo, si no es null
      -->
      <li *ngIf="userName">
        <a>
          <img src="https://github.com/jorge.png" class="icon" />
          {{userName}}
          {{userEmail}}
          <!-- Aquí utilizo las clases de scss que utilicé anteriormente, además asigno el routerLink y asigno la función que creado para comprobar el funcionamiento del localStorage
           Si se pulsa el botón se borran los localStorage
        -->
          <div class="hero-buttons">
            <button class="btn secondary" routerLink="/home" (click)="logOut()">Log out</button>
          </div>

        </a>
      </li>

      <li>
        <a routerLink="/registro" (click)="toggleMenu()">
          <img src="assets/icons/contact.svg" alt="Contact" class="icon" />
          Registro</a
        >
      </li>
    </ul>
  </nav>
</header>
